<div style="background-color:#172b4d">
<div class="container-fluid bg-default">
    <div class="container-fluid pt-4">
      <h1 id="heading" class="mb-0 heading pt-4">THE</h1>
      <h1 id="green" class="mb-0 heading pt-4"> TEAM</h1>
    </div>
    <div class="row mt-4 text-center justify-content-center px-auto">
  
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a>
              <img src="../../assets/images/user1.png"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Harshitha Mortha</span>
                <small class="h4 font-weight-light text-muted">
                  <!--login/signup--> </small>
              </h5>
  
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a>
              <img src="../../assets/images/user2.png"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Sai Priya</span>
                <small class="h4 font-weight-light text-muted">
                  <!--  Doctors sign in--></small>
              </h5>
  
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a>
              <img src="../../assets/images/user (3).png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Priya Joshi</span>
                <small class="h4 font-weight-light text-muted"> </small>
              </h5>
  
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row mt-4 text-center justify-content-center px-auto">
  
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a>
              <img src="../../assets/images/user4.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Ruchitha</span>
                <small class="h4 font-weight-light text-muted">
                  <!--  Doctors sign in--></small>
              </h5>
  
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a>
              <img src="../../assets/images/user5.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Sai Samyuktha</span>
                <small class="h4 font-weight-light text-muted">
                </small>
              </h5>
  
            </div>
          </div>
        </div>
      </div>

    </div><br>
  </div>
</div>
  
