<div style="background-color:#172b4d">
    <div class="container-fluid bg-default" id="image_specs">
    <div class="container-fluid pt-4">
    <nav aria-label="breadcrumb" id="navBar">
      <ol class="breadcrumb bg-default" >
        <li class="breadcrumb-item"><a id="breadCrumb" routerLink="/getstarted">Get Started</a></li>
        <li class="breadcrumb-item"><a id="breadCrumb" routerLink="/admin-home">Admin Dashboard</a></li>
      <li id="breadCrumb" class="breadcrumb-item active" aria-current="page">Patients List</li>
      </ol>
    </nav>
    </div>
    </div>
  <div class="card my-2 mx-auto" id="signup_card">
    <div class="card-header text-center">
      <h1 id="heading" class="mb-0 heading">VIEW</h1>
      <h1 id="green" class="mb-0 heading"> PATIENTS</h1>
    </div>
    <div align="center">
    <div class="card-body">
    
    <div class="panel-body"  style="border: 10cm;color: red;">
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"  >
            <thead class="thead-light">
                <tr>
                    <th>Patient ID</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Blood Group</th>
                    <th>Gender</th>
                    <th>Age</th> 
                    <th>Address</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of Patients">
                    <td>{{p.patientId}}</td>
                    <td>{{p.patientName}}</td>
                    <td>{{p.mobileNo}}</td>
                    <td>{{p.email}}</td>
                    <td>{{p.password}}</td>
                    <td>{{p.bloodGroup}}</td>
                    <td>{{p.gender}}</td>
                    <td>{{p.age}}</td>
                    <td>{{p.address}}</td>
                  </tr> 
            </tbody><br>
        </table>
    </div>
</div> 
</div>
    </div><br><br>
    <br> <br> <br> <br> <br> <br> <br>
    </div>
  
