<div style="background-color:#172b4d">
  <div class="container-fluid bg-default" id="image_specs">
  <div class="container-fluid pt-4">
  <nav aria-label="breadcrumb" id="navBar">
    <ol class="breadcrumb bg-default" >
      <li class="breadcrumb-item" ><a id="breadCrumb" routerLink="/getstarted">Get Started</a></li>
      <li class="breadcrumb-item" ><a id="breadCrumb" routerLink="/patient-home">Patient Dashboard</a></li>
      <li id="breadCrumb" class="breadcrumb-item active" aria-current="page">Book Appointment</li> 
    </ol>
  </nav>
  </div>
  </div>
<div class="card my-2 mx-auto" id="signup_card">
  <div class="card-header text-center">
    <h1 id="heading" class="mb-0 heading">BOOK</h1>
    <h1 id="green" class="mb-0 heading"> APPOINTMENT</h1>
  </div>
  <div align="center">
  <div class="card-body">
    <div [hidden]="submitted" style="width: 400px;">
      <form class="needs-validation" id="appointment_form" [formGroup]="appointmentsaveform" #saveappointment (ngSubmit)="saveAppointment()">
          <div class="form-group">
            <label for="appointmentDate"> Appointment Date </label><span class="required">*</span>
              <input type="date" class="form-control" formControlName="appointmentDate" 
                data-toggle="tooltip" data-placement="right" placeholder="Enter Appointment Date">
                <div class="alert alert-danger" *ngIf = "(AppointmentDate.touched) && (AppointmentDate.invalid)" 
              style="margin-top: 5px;">
                <div *ngIf="AppointmentDate.errors.required">Appointment Date is Required</div>
                </div>
          </div>

          <div class="form-group">
            <label for="appointmentStatus">Appointment Status</label><span class="required">*</span>
              <select class="form-control" formControlName="appointmentStatus" data-toggle="select"
                    data-placement="right" placeholder="Select Appointment Status">
                    <option value=""disabled selected hidden>Select Appointment Status</option>
                    <option value="approved">Approved</option>
                    <option value="cancelled">Cancelled</option>
                    <option value="completed">Completed</option>
                    <option value="waiting">Waiting</option>
              </select>
              <div class="alert alert-danger" *ngIf = "(AppointmentStatus.touched) && (AppointmentStatus.invalid)" 
              style="margin-top: 5px;">
                <div *ngIf="AppointmentStatus.errors.required">Appointment Status is Required</div>
                </div>
        </div>

        <div class="form-group">
          <label for="remark"> Remark </label><span class="required">*</span>
          <input type="text" class="form-control"  formControlName="remark" data-toggle="tooltip" required="required" pattern="[A-Za-z ]"
             data-placement="right" placeholder="Leave a remark...." >

             <div class="alert alert-danger" *ngIf = "(Remark.touched) && (Remark.invalid)" 
              style="margin-top: 5px;">
                <div *ngIf="Remark.errors.required">Please leave a Remark</div>
                <div *ngIf = "Remark.errors.pattern">Remark must contain only letters</div>
                </div>
      </div>
      <div class="row">
        <div class="col-auto mr-auto ml-auto">
          <button type="submit" id="button" class="btn btn-primary lt-6">
            Book
          </button>
        </div>
        </div>

      </form>
  </div>
  </div>
</div>
     
</div>
<br><br>
</div>
