<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div style="background-color:#172b4d">
  
  <div class="container-fluid bg-default">
    <div class="container-fluid pt-4">
      <h1 id="heading" class="mb-0 heading pt-4">Wel</h1>
      <h1 id="green"  class="mb-0 heading pt-4">come! </h1>
    </div>
    <div class="row mt-4 text-center justify-content-center px-auto">
    <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a >
              <img src="../../assets/images/manager.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Admin</span>
                <small class="h4 font-weight-light text-muted"> <!--login/signup--> </small>
              </h5>
              <div class="mt-3">
                <button routerLink="/login" type="submit" id="button" class="btn btn-primary">
                  Sign in
                </button> &nbsp;<br><br>
                <button routerLink="/admin-home" class="btn btn-primary">
                Dashboard
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a >
              <img src="../../assets/images/doctor.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Doctors</span>
                <small class="h4 font-weight-light text-muted"> <!--  Doctors sign in--></small>
              </h5>
              <div class="mt-3">
                <button routerLink="/login" id="button" class="btn btn-primary">
                    Sign in
                </button>&nbsp;
                <button routerLink="/add-doctor" class="btn btn-primary">
                    Sign up
                </button> &nbsp;<br><br>
                <button routerLink="/doctor-home" class="btn btn-primary">
                 Dashboard
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a >
              <img src="../../assets/images/patient.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Patients</span>
                <small class="h4 font-weight-light text-muted"> <!--  Patients sign in --> </small>
              </h5>
              <div class="mt-3">
                <button routerLink="/login" type="submit" id="button" class="btn btn-primary">
                    Sign in
                </button>&nbsp;
                <button routerLink="/add-patient" class="btn btn-primary">
                  Sign up
              </button>&nbsp;<br><br>
              <button routerLink="/patient-home" class="btn btn-primary">
              Dashboard
            </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><br><br>
  </div>
</div>

  
