<div style="background-color:#172b4d">

<div class="container-fluid bg-default">
    <div class="container-fluid pt-4">
      <h1 id="heading" class="mb-0 heading pt-4">DOCTOR </h1>
      <h1 id="green"  class="mb-0 heading pt-4">DASHBOARD </h1>
    </div>
    <div class="row mt-4 text-center justify-content-center px-auto">
  
    <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/images/agenda.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">View Appointments</span>
                <small class="h4 font-weight-light text-muted"> Manage Appointment Requests</small>
              </h5>
              <div class="mt-3">
                <button routerLink="/all-appointments" type="submit" id="button" class="btn btn-primary">
                 View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/images/christmas.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Add Availability Dates</span>
                <small class="h4 font-weight-light text-muted">Provide Availability Dates</small>
              </h5>
              <div class="mt-3">
                <button routerLink="/add-availability" type="submit" id="button" class="btn btn-primary">
                 Add Availability
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br><br>
</div>
