<div style="background-color:#172b4d">
    <div class="container-fluid bg-default">
    <div class="container-fluid pt-4">
      <h1 id="heading" class="mb-0 heading pt-4">ADMIN</h1>
      <h1 id="green" class="mb-0 heading pt-4"> DASHBOARD</h1>
    </div>
    <br>
    <div class="row mt-4 text-center justify-content-center px-auto">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/images/doctor.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Doctors</span>
                <small class="h4 font-weight-light text-muted">View List of Doctors</small>
              </h5>
              <div class="mt-3">
                <button routerLink="/all-doctors" id="button" class="btn btn-primary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/images/patient.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Patients</span>
                <small class="h4 font-weight-light text-muted">View List of Patients</small>
              </h5>
              <div class="mt-3">
                <button routerLink="/all-patients" type="submit" id="button" class="btn btn-primary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/images/5-stars.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Feedbacks</span>
                <small class="h4 font-weight-light text-muted">View List of Feedbacks</small>
              </h5>
              <div class="mt-3">
                <button routerLink="/all-feedbacks" type="submit" id="button" class="btn btn-primary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/images/appointment.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Appointments</span>
                <small class="h4 font-weight-light text-muted">View All Appointments</small>
              </h5>
              <div class="mt-3">
                <button routerLink="/all-appointments" type="submit" id="button" class="btn btn-primary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
<br><br><br>

</div>
