<div style="background-color:#172b4d">

<div class="container-fluid bg-default">
    <div class="container-fluid pt-4">
      <h1 id="heading" class="mb-0 heading pt-4">PATIENT</h1>
      <h1 id="green" class="mb-0 heading pt-4"> DASHBOARD</h1>
    </div>
    <div class="row mt-4 text-center justify-content-center px-auto">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/images/agenda.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Book Appointment</span>
                <small class="h4 font-weight-light text-muted">Book appointment for a medical test</small>
              </h5>
              <div class="mt-3">
                <button routerLink="/add-appointment" id="button" class="btn btn-primary">
                  Book Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/images/appointment.png"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover" id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Appointment Status</span>
                <small class="h4 font-weight-light text-muted">Check Your Appointment Status</small>
              </h5>
              <div class="mt-3">
                <button routerLink="/all-appointments" type="submit" id="button" class="btn btn-primary">
                  Check
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/images/5-stars.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Give Feedback</span>
                <small class="h4 font-weight-light text-muted">We need your valuable feedback</small>
              </h5><br>
              <div class="mt-3">
                <button routerLink="/add-feedback" type="submit" id="button" class="btn btn-primary">
                  Add Feedback
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
    </div>
  </div>
  <br><br>
</div>
