<div style="background-color:#172b4d">
    <div class="container-fluid bg-default" id="image_specs">
    <div class="container-fluid pt-4">
    <nav aria-label="breadcrumb" id="navBar">
    <ol class="breadcrumb bg-default" >
    <li class="breadcrumb-item"><a id="breadCrumb" routerLink="/getstarted">Get Started</a></li>
    <li class="breadcrumb-item"><a id="breadCrumb" routerLink="/admin-home">Admin Dashboard</a></li>
    <li id="breadCrumb" class="breadcrumb-item active" aria-current="page">View Feedback</li>
    </ol>
    </nav>
    </div>
    </div>
    <div class="card my-2 mx-auto" id="signup_card">
    <div class="card-header text-center">
    <h1 id="heading" class="mb-0 heading">VIEW</h1>
    <h1 id="green" class="mb-0 heading">FEEDBACKS</h1>
    </div>
    <div align="center">
    <div class="card-body">
    
    
    
    
    <div class="panel-body"  style="border: 10cm;color: red;">
    <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"  >
    <thead class="thead-light">
    <tr>
    <th>Feedback ID</th>
    <th>Rating</th> 
    <th>Feedback Comment</th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let f of Feedbacks">
    <td>{{f.feedbackId}}</td>
    <td>{{f.rating}}</td>
    <td>{{f.feedbackComment}}</td>
    
    </tr> 
    </tbody><br>
    </table>
    </div>
    </div> 
    </div>
    </div><br><br>
    <br> <br> <br> <br> <br> <br> <br>
    </div>
    
